    <div class="card">
        <img src="./assets/img/forgot.jpg" alt="">
        <div class="card-img-overlay">
             <div class="card-body">
              <form action="" [formGroup]="forgotform">
                <div class="row justify-content-center mt-5">
                  <div class="col-md-4">
                           <h2 class="text-center m-3">Forgot Password</h2>
                          
                           <div class="row justify-content-center mt-4">
                                
                                   <div class="col-md-2">
                                       <label for="" class="form-label text-dark"><b>Email:</b></label>
                                    </div>
                                    <div class="col-md-8">
                                      <input type="email" class="form-control" formControlName="email" >
                                      <small class="text-danger "
                                      *ngIf="!forgotform.get('email')?.valid && forgotform.get('email')?.touched ">Please Enter Valid
                                      email</small>  
                                    </div>
                                    <div class="row justify-content-center m-4">
                                        <div class="col-md-2">
                                          <button type="submit" class="btn btn-outline-success" (click)="Submit(forgotform)">Submit</button> 
                                        </div>
                                    </div>                    
                           </div>
                  </div>
             </div>
              </form>
             </div>
        </div>
</div>