
<div class="card">
    <img src="./assets/img/home.jpg" class="img-fluid w-100" height="650px" alt="">
    <div class="card-img-overlay">
        <h1 class="text-center text-success">WEL-COME TO USER MANAGMENT SYSTEM</h1>       
          <button type="button" class="btn btn-primary">Log Out</button>
          <router-outlet></router-outlet>
          <!-- <div class="col-md-3">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Setting
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
    The current button
  </button>
  <button type="button" class="list-group-item list-group-item-action" routerLink="signin">A second item</button>
  <button type="button" class="list-group-item list-group-item-action">A third button item</button>
  <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
  <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>
</div>
                    </div>
                  </div>
                </div>
        </div>
          </div> -->
         
</div>
